.navbar {
  position: fixed;
  top: 0px;
  right: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  transition: opacity 0.3s ease;
}

.logo-container:hover .logo {
  opacity: 0; /* Make the logo disappear on hover */
}

.menu {
  display: none; /* Start by hiding the menu */
  list-style: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute; /* Positioning the menu absolute */
  top: 100%; /* Place it right under the logo container */
  left: 60px; /* Center the menu */
  transform: translateX(-50%); /* Align the center of the menu with the logo */
}

.logo-container:hover .menu {
  display: flex; /* Show the menu on hover */
  opacity: 1; /* Make the menu fully visible */
}

.menu-link {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'GeistSans', sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-link:hover {
  color: purple;
}
