html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars if not needed */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%; /* Takes full viewport height */
  width: 100%; /* Takes full viewport width */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
  overflow: hidden; /* Prevents scrollbars if not needed */
}

.dashboard-container {
  position: relative;
  height: 100vh; /* Use 100% if you want to be relative to the parent's height */
  overflow: hidden;
}

.svg-container {
  height: 100vh; /* Full view height, change if you want the container to be taller */
  overflow-y: auto; /* Allows vertical scrolling within this container */
}

.top-svg {
  position: relative;
  min-height: 100%; /* Ensure the container is at least the height of the viewport */
}

.backdrop {
  width: 100%; 
  height: auto; /* Auto height for responsive height based on the width */
  overflow-y: auto;
  display: block;
}

.logo {
  position: absolute;
  left: 20px; 
  width: 100px; 
  height: auto; 
  z-index: 10; 
  scale: 50%;
}

.landingtext {
  position: absolute;
  font-family: 'Geist', sans-serif;
  top: 59%; /* Adjust as needed */
  left: 59%;
  transform: translate(-50%, -50%);
  text-align: center;
  scale: 140%;
  color: black; 
}

.subtitle {
  top: 50%; /* Adjust as needed */
  text-align: center;
  color: grey;

}

.get-started-button {
  padding: 10px 20px;
  background-color: #CB9FF6; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px; /* Space between text and button */
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #c183fc; /* Darker shade for hover effect */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: transparent; 
  border-radius: 15px; /* Rounded corners */
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Geist', sans-serif;
}

.google-login-button {
  background: #4285F4;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 16px; /* Match font size with the design */
  font-family: 'Geist', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* For space between icon and text */
  width: 100%; /* Match width with input fields */
}

.divider span {
  background: #f0f0f0; /* Same as the login container background */
  padding: 0 10px;
}

/* Input field styling */
input[type="email"],
input[type="firstname"],
input[type="lastname"],
input[type="number"],
input[type="password"] {
  width: calc(100% - 24px);
  margin: 10px 0;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px; 
}

/* Checkbox and label styling */
label {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 14px; 
  font-family: 'Geist', sans-serif;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.create-account-button {
  background: #5c6bc0; 
  font-family: 'Geist', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  width: 100%;
}

.create-account-button:disabled {
  background: #9fa8da;
}