html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%; /* Takes full viewport height */
  width: 100%; /* Takes full viewport width */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
  overflow: hidden;
}

.dashboard-container {
  position: relative;
  height: 100vh; /* Use 100% if you want to be relative to the parent's height */
  overflow: hidden;
}

.chat-layout {
  position: absolute; /* or 'fixed' depending on the requirement */
  bottom: 20px; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  width: 1920px; /* Adjust as needed */
  height: 800px; /* Adjust as needed */
  transform: translateX(-50%); /* Adjust for precise centering */
  z-index: 1000; /* Ensure it's above other content */
}

.top-svg {
  position: relative;
  min-height: 100%; /* Ensure the container is at least the height of the viewport */
}

.backdrop {
  width: 100%;
  height: auto; /* Auto height for responsive height based on the width */
  display: block;
  overflow-y: hidden;
}

.dash-backdrop {
  width: 100%;
  height: auto; /* Auto height for responsive height based on the width */
  display: block;
  overflow-y: auto;
  transform: scale(2, -2);
}

.fit-backdrop {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block; /* Ensures there are no extra spaces around the image */
  position: fixed; /* Keeps the image fixed in place */
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  left: 20px;
  width: 100px;
  height: auto;
  z-index: 10;
  scale: 50%;
}

.svg-container {
  position: relative; /* This makes it a reference point for absolute positioning */
  overflow-y: auto;
  height: 100vh;
}

.landingtext {
  position: absolute;
  font-family: "Geist", sans-serif;
  top: 52.5%; /* Adjust based on your design */
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  scale: 120%;
  color: black;
  z-index: 1;
}

.subtitle {
  top: 50%; /* Adjust as needed */
  text-align: center;
  color: grey;
}

.get-started-button {
  padding: 10px 20px;
  background-color: #cb9ff6;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px; /* Space between text and button */
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #c183fc; /* Darker shade for hover effect */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: transparent;
  border-radius: 15px; /* Rounded corners */
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.google-login-button {
  background: #4285f4;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 16px; /* Match font size with the design */
  font-family: "Geist", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* For space between icon and text */
  width: 100%; /* Match width with input fields */
}

.divider span {
  background: #f0f0f0; /* Same as the login container background */
  padding: 0 10px;
}

.research-container {
  bottom: 109%;
  left: 13%;
  width: 700px;
  height: 720px;
  position: relative;
  font-family: "Geist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-style: italic;
}

.research-source {
  bottom: 185%;
  left: 58%;
  width: 450px;
  height: 850px;
  position: relative;
  font-family: "Geist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-style: italic;
}

/* Input field styling */
input[type="email"],
input[type="firstname"],
input[type="lastname"],
input[type="number"],
input[type="password"] {
  width: calc(100%);
  margin: 10px 0;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
}

/* Checkbox and label styling */
label {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  font-family: "Geist", sans-serif;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.create-account-button {
  background: #5c6bc0;
  font-family: "Geist", sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  width: 100%;
}

.create-account-button:disabled {
  background: #9fa8da;
}

.button-container {
  z-index: 5000;
}
