html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars if not needed */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%; /* Takes full viewport height */
  width: 100%; /* Takes full viewport width */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
  overflow: hidden; /* Prevents scrollbars if not needed */
}

.chat-title { /* Styles the title of the chat application */
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0.8rem;
  z-index: 10;
  color: #fd00ba;
}

.chat-layout { /* Wraps the chatbox and chat history */
  margin-top: 80px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

.chatbox { /* Styling and Layout of the chat box component within the flex container */
  flex-grow: 1; 
  margin-left: 20px; 
  align-self: center;
}

.chat-history { /* Positioning of Chat History within the flex container */
  flex: 0 0 250px;
  width: 20%;
  max-width: 300px;
  flex-shrink: 0;
  height: calc(100vh - 50px);
  overflow-y: auto;
  border-right: 2px solid #ccc;
}

.chat-box-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

.svg-container {
  height: 100vh; /* Full view height, change if you want the container to be taller */
  overflow-y: auto; /* Allows vertical scrolling within this container */
}

.top-svg {
  position: relative;
  min-height: 100%; /* Ensure the container is at least the height of the viewport */
}

.backdrop {
  width: 100%; 
  height: auto; /* Auto height for responsive height based on the width */
  display: block;
}

.logo {
  position: absolute;
  left: 20px; 
  width: 100px; 
  height: auto; 
  z-index: 10; 
  scale: 50%;
}

.landingtext {
  position: absolute;
  font-family: 'Geist', sans-serif;
  top: 59%; /* Adjust as needed */
  left: 59%;
  transform: translate(-50%, -50%);
  text-align: center;
  scale: 140%;
  color: black; /* Adjust the text color as needed */
}

.subtitle {
  top: 50%; /* Adjust as needed */
  text-align: center;
  color: grey;

}

.get-started-button {
  padding: 10px 20px;
  background-color: #CB9FF6; /* Adjust button color as needed */
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px; /* Space between text and button */
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #c183fc; /* Darker shade for hover effect */
}
